<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include('../../partials/bootstrap') %> 
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"> 
<title>Kitchen Fantasies</title>
</head>
<body>

<!-- Main Nav -->
<%- include('../../partials/navBar') %>   

  <!-- Main About -->
  <header id="login"></header>
    <h2 class="joinUs">LOGIN</h2>
      <div class="mainSection"></div>

  <form action="/auth/login" method="POST" class="formSign">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name='email' placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name='password' placeholder="Password">
        </div>
        </div>
    <button type="submit" class="btn">Welcome Back!</button>
    <a href="/auth/register" class="btn">New User?</a>
  </form>

</body>
</html>