<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/bootstrap') %> 
    <title>Kitchen Fantasies</title>
</head>
<body>
<!-- Main Nav -->
    <%- include('../partials/navBar') %>   

  <!-- Main About -->
  <header id="about"></header>
  <h2 class="aboutUs">About Us</h2>
    <div class="mainSection">
    <section class="sections" id="section-a">
      <div class="secA">
        <h3>What You Get</h3>
        <img src="/public/images/119-1191277_share-button-share-button-icon-png.png" id="pic" alt="share" class="img-thumbnail">
          <p class="aboutPara">Delicious & totally doable recipes for all skill sets</p>
      </div>
      </section>
    <section class="sections" id="section-b">
      <h3>Share your sectrects</h3>
        <p class="aboutPara">Have a tasty recipe? Feel free to share with friends!</p>
    </section>
    <section class="sections" id="section-c">
      <h3>Join Us</h3>
        <p class="aboutPara">Get access to mouthwatering recpies now!</p>
    </section>
    </div>
 
</body>
</html>