<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include('../partials/bootstrap') %> 
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<title>Kitchen Fantasies</title>
</head>
<body>
<!-- Main Nav -->
    <%- include('../partials/navBar') %>   

  <!-- Main About -->
<header id="about"></header>
  <h2 class="aboutUs">ABOUT US</h2>
  <div class="mainSection">
    <section class="sections" id="section-a">
      <h3>What You Got</h3>
          <img src="/images/notes.jpeg" id="pic" alt="share">
            <p class="aboutPara">Display your delicious recipes for all skill sets!</p>
    </section>
    <section class="sections" id="section-b">
      <h3>Share Your Secrets</h3>
        <img src="/images/bread.jpg" id="pic" alt="share">
          <p class="aboutPara">Have a tasty recipe? Feel free to share with friends!</p>
    </section>
    <section class="sections" id="section-c">
      <h3><a href="/users/new" class="joinNow">Join Us</a> </h3>
        <img src="/images/chef.jpg" id="pic" alt="share">
          <p class="aboutPara">Get access to mouthwatering recpies now!</p>
    </section>
  </div>
<!-- <footer class="footer"></footer> -->
</body>
</html>