<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/bootstrap') %> 
    <title>Kitchen Fantasies</title>
</head>
<body>
<!-- Main Nav -->
<%- include('../partials/navBar') %>   


  <!-- Main Home -->
  <header id="home">
    <h1>Kitchen Fantasies</h1>
  </header>
</body>
</html>