body {
    margin: 0;
    font-family: ;
}

#home{
    background: url('../images/desert.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kf {
    margin: auto;
    width: 50px;
    height: 50px;
}

.navbar {
    background-color: white;
}

#about{
    background: url('../images/steak.jpg');
    background-size: cover;
    background-position: center;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.home {
    width: 900px;
    height: 110px;
    background-color: white;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.aboutUs {
    font-size: 50px;
    display: flex;
    font-family: 'Playfair Display', serif;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 30px;
}

h1 {
    font-size: 80px;
    font-weight: lighter;
    font-family: 'Playfair Display', serif;
}
h2 {
    font-size: 50px;
    font-weight: lighter;
    font-family: 'Playfair Display', serif;
}

h3 {
    font-size: 25px;
    display: flex;
    font-family: 'Playfair Display', serif;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
}

.mainSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutPara {
    display: flex;
    font-family: 'Playfair Display', serif;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 50px;
}

#pic {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    border-radius: 30px;
}

#join {
    background: url('../images/joinUs.png');
    background-size: cover;
    background-position: center;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.joinUs {
    font-size: 50px;
    display: flex;
    font-family: 'Playfair Display', serif;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 30px;
}

#userListPage {
    background: url('../images/White-Chocolate-Lobster-and-Caviar-at-Bohemia-Jersey-Large-4.jpg');
    background-size: cover;
    background-position: center;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}