body {
    margin: 0;
    font-family: ;
}

#home{
    background: url('../images/Non-Feature-Bucatini-Chicken-Confit-Recipe-Faro\ \(1\).jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about{
    background: url('../images/Michelin-chick.jpg');
    background-size: cover;
    background-position: center;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

h1 {
    font-size: 90px;
    /* font-weight: lighter; */
    font-family: 'Playfair Display', serif;
}

.aboutUs {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 30px;
}

h3 {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.mainSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutPara {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 25px;
}

#pic {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}