<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include('../../partials/bootstrap') %> 
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"> 
<title>Kitchen Fantasies</title>
</head>
<body>
<!-- Main Nav -->
<%- include('../../partials/navBar') %>

<!-- Main About -->
<header id="userListPage"></header>
  <h2 class="joinUs">USER EDIT PAGE</h2>
    <div class="mainSection"></div>


  <h3><%= user.name %>'s profile</h3> 
  
</body>
</html>