<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../partials/bootstrap') %> 
    <title>Kitchen Fantasies</title>
</head>
<body>
<!-- Main Nav -->
<%- include('../../partials/navBar') %>   
<h2>Users List Page</h2>
</body>
</html>


<!-- <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Name of Recipe:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Carbonara">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Cuisine Type</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form> -->