<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include('../../partials/bootstrap') %> 
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<title>Kitchen Fantasies</title>
</head>
<body>
<!-- Main Nav -->
<%- include('../../partials/navBar') %>   
<h2 class="aboutUs">Recipe List</h2>

<% recipes.forEach(recipe => { %>
  <a href="/recipes/<%=recipe._id%>"><%= recipe.name %> </a>
<% }) %> 

</body>
</html>
