<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Show Recipe</h1>
  <h3><%= recipe.name %></h3>
  <ul>
    <li>
      <%= recipe.cuisineType %>
    </li>
  </ul>
</body>
</html>